.NavBar{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin-bottom: 20px;
}

.DropCall{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}




@media only screen and (max-width:900px){

    .DropCall{
        display: flex;
        flex-direction: column;
    }
    .req{
        display: none;
    }
}
